<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<targets>
		<!--<target name="error-file" xsi:type="File" 
				fileName="${basedir}/log/DocumentFlow.error.${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${message}"
				MaxArchiveDays="5"/>-->
		<target name="log-file" xsi:type="File" 
				fileName="${specialfolder:folder=LocalApplicationData}/Автоком/log/DocumentFlow.${shortdate}.log" 
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
				MaxArchiveDays="5"/>
		<target name="console" xsi:type="ColoredConsole"/>
		<target name="debugger" xsi:type="Debugger" layout="${longdate}|${level:uppercase=true}|${message}"/>
	</targets>
	<rules>
		<logger name="*" level="Debug" writeTo="debugger,log-file" />
		<logger name="*" level="Info" writeTo="log-file" />
		<logger name="*" levels="Warn,Error" writeTo="log-file" />
	</rules>
</nlog>
